# worker/.npmrc                                                                                                                                                                                                                  
approve-builds[]=esbuild
approve-builds[]=workerd                                                                                                                                                                                                         
approve-builds[]=sharp
